<nav class="row justify-content-md- pl-5 pr-5 pt-5 align-items-center">
    <div class="nav-left col-sm">
        <div>EI</div>
    </div>
    <div class="nav-right d-flex justify-content-md-between col-sm col- g-dark">
        <div class="intro"> < /intro></div>
        <div>Portfolio</div>
        <div>About</div>
        <div>Contact</div>
    </div>
</nav>

<section class="row mt-5 pt-5 pl-5 flex-column">
    <h1 class="col-6">
        Pretty Code By Ingineous Person
    </h1>
    <p class="col-6">
        I'm Software Engineer with robust experience in full-stack web development.
        I can help you build a product, a feater or website. 
        Look through some of my work and experience! If you 
        like what you see and have project you need coded, 
        don’t hesistate to contact me.
    </p>
    <div class="col-6 social d-flex justify-content-between pr-5 align-items-center mt-5">
        <p>You can find me here</p>
        <div>
            <a href="https://github.com/Emmanuelaaron" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.facebook.com/emma.isa.1293/" target="_blank"><i class="fab fa-facebook-f pl-5"></i></a>
            <a href="https://www.linkedin.com/in/fullstackwebdev-emma/" target="_blank"><i class="fab fa-linkedin pl-5"></i></a>
            <a href="https://twitter.com/EmmanuelIsabir1" target="_blank"><i class="fab fa-twitter pl-5"></i></a>
            <a href="https://join.skype.com/invite/ioFe8aum3uJW" target="-blank"><i class="fab fa-skype pl-5"></i></a>
        </div>
    </div>
</section>
<section class="row projects pl-5 mt-5 pr-5 justify-content-between pb-5">
    <h4 class="col-12">Some of my Projects</h4>
    <div class="col-6 picture_1 d-flex justify-content-between align-items-center p-5 mb-5">
        <p><a href="https://ror-social-scaffold.herokuapp.com/users/sign_in" target="_blank"> 
        Social media site</a></p>
        <a href="https://ror-social-scaffold.herokuapp.com/users/sign_in" class="w-75" target="_blank"> 
            <%= image_tag "social.png", size: "", class: 'w-100' %>
        </a>
    </div>
    <div class="col-5 picture_2  d-flex justify-content-between align-items-center mb-5">
        <p><a href="https://private-events-1.herokuapp.com/sessions/new" target="_blank"> 
        Private Events</a></p>
        <a href="https://private-events-1.herokuapp.com/sessions/new" class="w-75" target="_blank">
            <%= image_tag "private.png", size: "", class: 'w-100' %>
        </a>
    </div>
    <div class="col-3 picture_3  d-flex justify-content-between align-items-center">
        <p><a href="https://emmanuelaaron.github.io/rentoz/index.html" target="_blank"> 
        Rentoz</a></p>
        <a href="https://emmanuelaaron.github.io/rentoz/index.html" class="w-75" target="_blank">
            <%= image_tag "rentoz.png", size: "", class: 'w-100' %>
        </a>
    </div>
    <div class="col-4 picture_4  d-flex justify-content-between align-items-center">
        <p><a href="https://emmanuelaaron.github.io/News-week-clone/" target="_blank"> 
        Newsweek Clone</a></p>
        <a href="https://emmanuelaaron.github.io/News-week-clone/" class="w-75" target="_blank">
            <%= image_tag "newsweek.png", size: "", class: 'w-100' %>
        </a>
    </div>
    <div class="col-4 picture_5  d-flex justify-content-between align-items-center">
        <p><a href="https://emmanuelaaron.github.io/Backgrounds_and_gradients/" target="_blank"> 
        Apple site clone</a></p>
        <a href="https://emmanuelaaron.github.io/Backgrounds_and_gradients/" class="w-75" target="_blank">
            <%= image_tag "apple.png", size: "", class: 'w-100' %>
        </a>
    </div>
</section>
<section class="row pl-5 about_me justify-content-between">
    <div class="col-5">
        <h1>About Me</h1>
        <p>I'm a self-taught Software engineer with a robust experience in Full-stack web development 
        utilizing Technologies like Ruby/Ruby on Rails, Python/Flask, plus Javascript. 
        Not only Do I focus on achieving results according to the clients' need but I'm also passionate 
        about what I do and this explains the reason as to why I'm self-taught.I've worked with different Agile teams 
        building world-class web applications utilizing best practices right 
        from following SOLID principles to utilizing Code quality control tools like TravisCI, 
        CodeClimate, GitHub Actions, Pylint, Stickler, CircleCI etc.</p>
    </div>

    <div class="col-5 technologies">
        <h4 class="">Languages</h4>
        <p>Ruby Python Html CSS Javascript</p>
        <h4 class="">Frameworks</h4>
        <p>Ruby on rails | Flask | Bootstrap | React | Capybara | Rspec </p>
    </div>
</section>
<footer class="pt-5 d-flex flex-column align-items-center">
    <h3 class="text-center">Interested in collaborating?</h3>
    <p> If you have an application you are interested in developing,
     a feature that you need built or a project that need coding, 
    I’d love to help you with it.</p>
     <%= form_for @vistor, url: url_for(controller: 'vistors', action: 'create') do |f| %>
        <div class="d-flex w-100">
            <%= text_field_tag :name, params[:name], :placeholder => "Your Name", :class => 'name w-50' %>
            <%= text_field_tag :email, params[:email], :placeholder => "Your Email", :class => 'email ml-2 w-50' %>
        </div>
        <div class=" mt-2" >
            <%= text_field_tag :message, params[:message], :placeholder => "Your message", :class => 'message w-100 ', :style => "height: 100px;" %>
        </div>
        <div class="col-xs-12 m-b-xs mt-4 mb-4">
          <button class="p-1 btn-block button" type="submit">Get in touch</button>
        </div>
        <p class="">
            emmanuelisabirye9@gmail.com
            <a href="https://github.com/Emmanuelaaron" target="_blank"><i class="fab fa-github ml-3"></i></a>
            <a href="https://www.facebook.com/emma.isa.1293/" target="_blank"><i class="fab fa-facebook-f "></i></a>
            <a href="https://www.linkedin.com/in/fullstackwebdev-emma/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/EmmanuelIsabir1" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://join.skype.com/invite/ioFe8aum3uJW" target="-blank"><i class="fab fa-skype"></i></a>
        </p>

    <% end %>
   
</footer>